.container{
    margin-top: 10px;
}
.imgContainer{
    display: flex;
    margin-top: 10px;
}
.img{
    width: 50%;
    height: 20rem;
}
.skills {
    margin-left: 3%;
   
 }
 .skills ul {
    font-size: 25px;
    font-family: Arial  ;
    margin: 30px;
 }
.background{
      background-image: url("https://static.vecteezy.com/system/resources/thumbnails/029/349/066/small/ai-generated-ai-generative-backpacker-alone-man-at-high-peak-mountain-adventure-outdoor-nature-inspiration-background-graphic-art-photo.jpg");
      margin-top: 1px;
      width: 100%;
      max-width: 1280px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      max-height:500px; 
}
.form input{
   width: 90%;
   height: 40px;
   font-size: 20px;
   border: 1px solid wheat;
   margin-top:200px ;
   margin-left: 5%;
   border-radius: 25px;
   padding: 20px;
  
}

.h1{
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: bisque;   
}
@media (max-width: 768px) {
 .background{
    width: 100%;
    max-width: 1280px;
   position: cover;
    height: 300px;
   
 }
 .form input{
    width: 350px;
    height: 30px;
    font-size: 20px;
    border: 1px solid wheat;
    border-radius: 25px;
    padding: 20px;
     margin: 100px;
     margin-left: 50px;
   
 }
  }
  @media (max-width: 680px) {
    .background{
       width: 100%;
       max-width: 1280px;
      position: cover;
       height: 300px;
      
    }
    .form input{
       width: 340px;
       height: 30px;
       font-size: 20px;
       border: 1px solid wheat;
       border-radius: 25px;
       padding: 20px;
        margin: 100px;
        margin-left: 10px;
      
    }
     }
     .Home{
        width: 100%;
      
       
     }