.Nav{
    width: 100%;
    max-width: 1280px;
    color: white;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    
}
.link{
    display: flex;
   
}
.Nav h2{
    margin-top: 10px;
    color: black;
    margin-left: 10px;
}
.Nav li{
    padding: 1rem;
    display: flex;
    
}
.Nav li a{
    text-decoration: none;
    color: white;
}
.Nav li:hover,
.Nav li:focus{
padding: 1rem;

}
.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a{
    background-color: white;
    color: black;
}
@media (max-width: 768px) {
    .Nav{
        width: 100%;
        max-width: 1380px;
   position:relative;
    }
}